<IfModule mod_rewrite.c>
    Header set Access-Control-Allow-Origin 'http://localhost/clickship'
    RewriteEngine on
    RewriteRule ^$ /clickship/admin/public/ [L]
    RewriteCond %{REQUEST_FILENAME} !-s
    RewriteCond %{HTTP:X-Requested-With} !=XMLHttpRequest
    RewriteRule (.*) /clickship/admin/public/$1 [L]
</IfModule>